body {
  background-color: #fafafa!important;
  font-family: 'Josefin Sans', sans-serif;
}


/* COVER */
#cover {
  height: 100vh;
  position: relative;
  background-color: #212121;
}

#cover h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Josefin Sans', sans-serif;
}

#navArrow {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  font-size: 35px;
  color: #fafafa;
}


/* WORK */
#work {
  position: relative;
  display: block;
}

.github-link {
  font-family: 'Oxygen', sans-serif;
  text-decoration: none!important;
  color: #2962ff;
}

.text-greyish {
  color: #9e9e9e!important;

}

#portBox {
  position: relative;
}

#sellDome {
  position: relative;
  height:800px;
  width:800px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.sellDome-fade {
  background: rgba(255,255,255,0.5);
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#sellDome h1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Oxygen', sans-serif;
  font-weight: 800;
  font-size: 90px;
}

#notQuora {
  position: relative;
  height:800px;
  width:800px;
}

.notQuora-fade {
  background: rgba(229,57,53,0.5);
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#notQuora h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 90px;
}

.quora {
  font-family: 'Raleway', sans-serif!important;
}

.banner-fade {
  background: rgba(0,0,0,0.3);
  height: 100%;
  width: 100%;
}

#info {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 60px;
  background: white;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #484848;
}

.welcome-header-container {
  display: inline-block;
  position: relative;
  left: 50%;
  margin-top: 10%;
  margin-bottom: 10%;
  transform: translateX(-50%);
}

.welcome-header {
  text-align: center;
  font-size: 52px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold!important;
  color: #484848;
}

.welcome-sub {
  text-align: center;
}

.welcome-header a {
  text-decoration: none;
  color: #2962ff;
}

/* NAVBAR */

.navbar-brand {
  font-family: 'Josefin Sans', sans-serif;
}

#navBar {
    z-index: 100;
    background-color: #fff;
    border-bottom: 2px solid;
    border-color: #e0e0e0;
}

#navBar a:hover {
  border-bottom: 2px solid;
  border-bottom-color: #0039cb;

}

/* NAVBAR A */
#navBarA {
    z-index: 100;
    background-color: #fff;
    border-bottom: 2px solid;
    border-color: #e0e0e0;
}

#navBarA a:hover {
  border-bottom: 2px solid;
  border-bottom-color: #0039cb;

}

/* ABOUT */
.descriptionAbout {
  padding-left: 150px;
  padding-right: 150px;
}

.descriptionAbout h5 {
  color: #484848;
}

#imageBox {
  background-image: url('../img/portrait.jpg');
  height: 300px;
  width: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/* FOOTER */
#footer {
  padding-top:100px;
  padding-bottom: 100px;
  width: 100%;
}

#resume {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Oxygen', sans-serif;
  text-decoration: none;
  color: #2962ff;
}



.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/ellipsis.gif) center no-repeat #212121;
  background-size: 80px;
}


@media (min-width: 1440px) {
  #cover h1 {
		font-size: 120px;
	}

  .welcome-header {
    font-size: 55px;
    width: 1000px;
  }
}

@media (max-width: 1440px) {
  #cover h1 {
		font-size: 70px;
	}

  .welcome-header {
    font-size: 50px;
    width: 1000px;
  }
  #sellDome {
    height: 500px;
    width: 500px;
  }
  #sellDome h1 {
    font-size: 55px;
  }
  #notQuora {
    height: 500px;
    width: 500px;
  }
  #notQuora h1 {
    font-size: 55px;
  }
}

@media (max-width: 1024px) {
	#cover h1 {
		font-size: 65px;
    width: 768px;
    text-align: center;
	}
  .welcome-header {
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
  #sellDome {
    height: 450px;
    width: 450px;
  }
  #sellDome h1 {
    font-size: 55px;
  }
  #notQuora {
    height: 450px;
    width: 450px;
  }
  #notQuora h1 {
    font-size: 55px;
  }
}

@media (max-width: 768px) {
	#cover h1 {
		font-size: 55px;
    width: 425px;
    text-align: center;
	}
  .welcome-header {
    font-size: 30px;
    width: auto;
  }
  #sellDome {
    height: 400px;
    width: 400px;
  }
  #sellDome h1 {
    font-size: 55px;
  }
  #notQuora {
    height: 400px;
    width: 400px;
  }
  #notQuora h1 {
    font-size: 55px;
  }
  #imageBox {
    height: 200px;
    width: 200px;
  }
  #resume {
    font-size: 40px;
  }
}

@media (max-width: 425px) {
	#cover h1 {
		font-size: 45px;
    width: 375px;
    text-align: center;
	}
  .welcome-header {
    font-size: 25px;
    width: 380px;
  }
  #sellDome {
    height: 425px;
    width: 100%;
  }
  #sellDome h1 {
    font-size: 55px;
  }
  #notQuora {
    height: 425px;
    width: 100%;
  }
  #notQuora h1 {
    font-size: 55px;
  }
  #descriptionAbout {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 375px) {
	#cover h1 {
		font-size: 30px;
    width: 300px;
	}
  .welcome-header {
    font-size: 20px;
    font-weight: 900;
    width: 300px;
  }
}
